<%= form_with model: @restaurante, local: true, class: "form-plato" do |form| %>

  <% if @restaurante.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@restaurante.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @restaurante.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= form.label :restaurante_id %><br>
    <%= form.text_field :restaurante_id %>
  </p>
  <p>
    <%= form.label :plato_id %><br>
    <%= form.text_field :plato_id %>
  </p>
  
  <p class="btn btn-dark">
    <%= form.submit %>
  </p>

<% end %>