<%# model en lugar del scope de NEW para que sea EDIT %>
<%= form_with model: @plato, local: true, class: "form-plato" do |form| %>

  <% if @plato.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@plato.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @plato.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= form.label :titulo %><br>
    <%= form.text_field :titulo %>
  </p>
 
  <p>
    <%= form.label :descripcion %><br>
    <%= form.text_area :descripcion %>
  </p>

  <p>
    <%= form.label :precio %><br>
    <%= form.text_field :precio %>
  </p>

  <% if controller.action_name == "edit" %>
    <p>
      <%= form.label :created_at %><br>
      <%= form.datetime_select :created_at %>
    </p>
  <%end%>
  
  <p class="btn btn-dark">
    <%= form.submit %>
  </p>

<% end %>