<%# model en lugar del scope de NEW para que sea EDIT %>
<%= form_with model: @restaurante_plato, local: true, class: "form-plato" do |form| %>

  <% if @restaurante_plato.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@restaurante_plato.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @restaurante_plato.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= form.label :id_restaurante %><br>
    <%= form.text_field :id_restaurante %>
  </p>
  <p>
    <%= form.label :id_plato %><br>
    <%= form.text_field :id_plato %>
  </p>
  
  <p class="btn btn-dark">
    <%= form.submit %>
  </p>

<% end %>